<template>

  <RegistroEmpleados/>
  </template>

<script>
// @ is an alias to /src

import RegistroEmpleados from '@/components/RegistroEmpleados.vue';
export default {
  name: 'HomeView',
  components: {
    RegistroEmpleados
}
}
</script>
