<template>
    <div class="container  contenerdor">
        <form action="#">
            <div class="col-4 m-auto">
                <h2 class="text-center mb-4">Registro Empleados</h2>

                <input type="text" class="form-control mb-3" placeholder="Numero de Cedula" v-model="Registro.NumeroCedula">
                <input type="text" class="form-control mb-3" placeholder="Apellidos" v-model="Registro.Apellidos">



                <input type="text" class="form-control mb-3" placeholder="Nombres" v-model="Registro.Nombres">
                <input type="Date" class="form-control mb-3" v-model="Registro.FechaNacimiento">
                <div class="mt-4">
                    <label for="" class="form-label mx-2 ">Sexo: </label>
                    <input type="radio" name="Hombre" id="" class="form-check-input" v-model="Registro.Sexo" value="Masculino">
                    <label for="" class="form-label me-3">Masculino</label>
                    <input type="radio" name="Hombre" id="" class="form-check-input" v-model="Registro.Sexo" value="Femenino">
                    <label for="" class="form-label ">Femenino</label>

                </div>
                <div class="hola">

                    <label for="" class="form-label mx-2 ">Estado Civil: </label>

                    <select class="form-select" aria-label="Default select example" v-model="Registro.EstadoCivil">
                        <option selected>Selecione una opcion</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Soltero(a)">Soltero(a)</option>
                        <option value="Viudo(a)">Viudo(a)</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                        <option value="Union Libre">Union Libre</option>
                    </select>
                </div>
                <input type="text" class="form-control mb-3" placeholder="Nombre Conyuge" v-model="Registro.NombreConyuge">
                <input type="text" class="form-control mb-3" placeholder="Numero de Hijos" v-model="Registro.NumeroHijos">
                <input type="text" class="form-control mb-3" placeholder="Ciudad" v-model="Registro.Ciudad">
                <input type="text" class="form-control mb-3" placeholder="Direccion" v-model="Registro.Direccion">
                <input type="text" class="form-control mb-3" placeholder="Telefono" v-model="Registro.Celular">
                <input type="text" class="form-control mb-3" placeholder="Correo Electronico" v-model="Registro.CorreoElectronico">
                <div class="mt-4">
                    <label for="" class="form-label mx-2 ">Tienes Dispacaidad?: </label>
                    <input type="radio" name="si" id="" class="form-check-input" v-model="Registro.Discapacidad" value="Si">
                    <label for="" class="form-label me-3">Si</label>
                    <input type="radio" name="no" id="" class="form-check-input" v-model="Registro.Discapacidad" value="No">
                    <label for="" class="form-label ">No</label>
                </div>



            </div>

            <div class="row   mb-5 mt-2 boton">
                <button type="submit" class="btn btn-dark w-25" @click.prevent="procesarRegistro">Enviar</button>
            </div>
        </form>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import Swal from 'sweetalert2'

const shortid =require('shortid');

export default {
    data() {
        return {
            Registro:{
                id:'',
                NumeroCedula:'',
                Apellidos:'',
                Nombres:'',
                Sexo:'',
                FechaNacimiento:'',
                EstadoCivil:'',
                NombreConyuge:'',
                NumeroHijos:'',
                Ciudad:'',
                Direccion:'',
                Celular:'',
                CorreoElectronico:'',
                Discapacidad:''




            }
        }
    },
    methods:{
        ...mapActions(['setRegistros']),

        procesarRegistro(){
            //Validacion del numero de Cedula
            const regex = /^\d{10}$/
            if(!regex.test(this.Registro.NumeroCedula)){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El numero de cedula debe ser numero y minimo 10 digitos",
                }); return
                }
            //Validacion del Apellido 
            const regexName = /^[A-Za-z]{1,30}$/;
            const apellido= this.Registro.Apellidos.trim();
            if(!regexName.test(apellido)){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El Apellidos solo debe contener letras y como maximo 30 caracteres",
                }); return
                }
            //Validacion para Nombres
            const nombre = this.Registro.Nombres.trim();
            if(!regexName.test(nombre)){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El Nombre solo debe contener letras y como maximo 30 caracteres",
                }); return
                }
            //validar fecha de nacimiento 
            const fecha = new Date(this.Registro.FechaNacimiento);
            if(isNaN(fecha.getTime())){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "La fecha de nacimiento no es válida",
                }); return
                }else{
                    const fechaActual = new Date();
                    if(fecha > fechaActual){
                        Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "La fecha de nacimiento debe ser anterior a la fecha actual",
                }); return
                    }
                }
            //validar el sexo
            if(!this.Registro.Sexo){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "En el apartado de Sexo selecione una opcion.",
                }); return
            }
            //validar estado civil
            if(!this.Registro.EstadoCivil){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "En el apartado de Estado Civil Debe selecionar una opcion",
                }); return
            }
            //validacion del nombre del conyuge
            if(this.Registro.EstadoCivil==='Casado(a)'&& this.Registro.NombreConyuge===''){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Debes proporcionar el nombre de su esposa",
                }); return
            }
            //validar el numero de hijos
            if(this.Registro.NumeroHijos.length < 1){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Por favor ingrese el numero de hijos, en caso de no tener colocar un 0",
                }); return
            }

            //validar ciudad 
            const regexCiudad = /^[A-Za-z]{1,50}$/;
            const ciudad = this.Registro.Ciudad.trim();
            if(!regexCiudad.test(ciudad)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El campo Ciudad solo debe contener letras y como maximo 50 caracteres",
                }); return
            }

            //validar direccion
            const regexDireccion = /^[A-Za-z]{1,60}$/;
            const direccion = this.Registro.Direccion.trim();
            if(!regexDireccion.test(direccion)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El campo Direccion solo debe contener letras y como maximo 60 caracteres",
                }); return
            }
            //validar numero telefonico
            const regexNumero = /^\d+$/;
            if(!regexNumero.test(this.Registro.Celular)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El telefono solo debe contener numeros",
                }); return
            }

            //validar correco electronico
            const regexCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if(!regexCorreo.test(this.Registro.CorreoElectronico)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Escriba correctamente su correo electronico",
                }); return
            }
            //validar discacidad
            if(!this.Registro.Discapacidad){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "En el apartado de Discapacidad selecione una opcion.",
                }); return
            }
            this.Registro.id = shortid.generate()
            this.setRegistros(this.Registro)
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hola {

    display: flex;
    align-items: center;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenerdor{
    background-color: rgba(206, 199, 199, 0.541);
}
</style>
